

body {
    background-image: url("image.jpg");
    background-size: cover;
    font-family: 'Heavy Data', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:blanchedalmond ;
    font-family: 'Heavy Data', sans-serif;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(167, 65, 18);
}

#save-btn {
    background: rgb(111, 139, 44);
}
